<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zs.dao.MenuMapper" >
  <resultMap id="BaseResultMap" type="com.zs.entity.Menu" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="URL" property="url" jdbcType="VARCHAR" />
    <result column="IMG" property="img" jdbcType="VARCHAR" />
    <result column="P_ID" property="pId" jdbcType="DECIMAL" />
    <result column="M_NUMBER" property="mNumber" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, NAME, URL, IMG, P_ID, M_NUMBER
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from MENU
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from MENU
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.zs.entity.Menu" >
    insert into MENU (ID, NAME, URL, 
      IMG, P_ID, M_NUMBER)
    values (#{id,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{img,jdbcType=VARCHAR}, #{pId,jdbcType=DECIMAL}, #{mNumber,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.zs.entity.Menu" >
    insert into MENU
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="url != null" >
        URL,
      </if>
      <if test="img != null" >
        IMG,
      </if>
      <if test="pId != null" >
        P_ID,
      </if>
      <if test="mNumber != null" >
        M_NUMBER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="img != null" >
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="pId != null" >
        #{pId,jdbcType=DECIMAL},
      </if>
      <if test="mNumber != null" >
        #{mNumber,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zs.entity.Menu" >
    update MENU
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        URL = #{url,jdbcType=VARCHAR},
      </if>
      <if test="img != null" >
        IMG = #{img,jdbcType=VARCHAR},
      </if>
      <if test="pId != null" >
        P_ID = #{pId,jdbcType=DECIMAL},
      </if>
      <if test="mNumber != null" >
        M_NUMBER = #{mNumber,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zs.entity.Menu" >
    update MENU
    set NAME = #{name,jdbcType=VARCHAR},
      URL = #{url,jdbcType=VARCHAR},
      IMG = #{img,jdbcType=VARCHAR},
      P_ID = #{pId,jdbcType=DECIMAL},
      M_NUMBER = #{mNumber,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <select id="selectByPers" resultMap="BaseResultMap">
    select * from MENU
    where id in (${pers})
    order by M_NUMBER
  </select>
</mapper>