<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zs.dao.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.zs.entity.Role" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="DESCRIBTION" property="describtion" jdbcType="VARCHAR" />
    <result column="PERS" property="pers" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, NAME, DESCRIBTION, PERS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from ROLE
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from ROLE
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.zs.entity.Role" >
    insert into ROLE (ID, NAME, DESCRIBTION, 
      PERS)
    values (#{id,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, #{describtion,jdbcType=VARCHAR}, 
      #{pers,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zs.entity.Role" >
    insert into ROLE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="describtion != null" >
        DESCRIBTION,
      </if>
      <if test="pers != null" >
        PERS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="describtion != null" >
        #{describtion,jdbcType=VARCHAR},
      </if>
      <if test="pers != null" >
        #{pers,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zs.entity.Role" >
    update ROLE
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="describtion != null" >
        DESCRIBTION = #{describtion,jdbcType=VARCHAR},
      </if>
      <if test="pers != null" >
        PERS = #{pers,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zs.entity.Role" >
    update ROLE
    set NAME = #{name,jdbcType=VARCHAR},
      DESCRIBTION = #{describtion,jdbcType=VARCHAR},
      PERS = #{pers,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>